.experienceComponent {
  padding: 1rem 1.9rem;
  background-color: white;
  border-radius: 10px;

  width: 100%;
}

.experienceComponentLabel {
  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: white;

  /* padding: 1rem 2rem; */
  border-radius: 10px;
}

.experienceComponentIcons {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.experienceComponentLabel svg {
  width: 30px;
  height: auto;
  cursor: pointer;
}

.deleteIcon {
  transition: all 0.5s ease;
}

.deleteIcon:hover {
  transform: rotateZ(90deg);
  fill: rgb(150, 0, 0);
}

.newExperienceComponent {
  border: none;
  border-radius: 5px;
  background-color: #3e504f;
  color: white;
  font-size: x-large;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
  cursor: pointer;
  width: 50%;

  transition: width 0.75s ease;
}

.newExperienceComponent:hover {
  width: 100%;
}

/* Form: */

.experienceComponentForm {
  display: none;
}

.experienceFormOpen {
  display: block;

  background-color: white;

  margin-top: 1rem;
  /* padding: 1.5rem 2rem 1.5rem 2rem; */
  margin-bottom: -0.5rem;
  transform: translateY(-0.5rem);

  /* border-bottom-left-radius: 10px; */
  /* border-bottom-right-radius: 10px; */

  display: flex;
  flex-direction: column;
  gap: 1rem;
}
