.formDropDown {
  transition: min-height 0.75s ease;
  min-height: 5.125rem;
  margin-top: 10px;
  border-radius: 10px;
}

.formDropDown.open {
  min-height: 15rem;
  overflow-y: hidden;
  border-radius: 10px;
}

.formDropDown.closed {
  min-height: 5.125rem;
  overflow-y: hidden;
  border-radius: 10px;
}

.formDropDownHeader {
  max-height: 6rem;

  position: relative;

  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4rem;

  padding: 1rem 2rem;
  border-radius: 10px;

  z-index: 2;
}

.mainIcon {
  width: 50px;
  height: auto;
}

.dropDownIcon {
  width: 30px;
  height: auto;
}

.formDropDownContent {
  /* padding: 2rem 2rem; */
  width: 100%;

  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  background-color: #ebebeb;

  position: relative;
  z-index: 1;

  transform: translateY(-20rem);

  opacity: 1;

  transition: transform 0.6s ease, max-height 0.6s ease;
}

.formDropDownContent.open {
  /* max-height: 4rem; */

  /* padding: 1rem 2rem; */
  margin-top: 0.5rem;
  transform: translateY(-0rem);
  opacity: 1;
  border-radius: 10px;
}

.dropDownForm {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.formRow {
  display: flex;
  flex-direction: column;
}

.endDate,
.startDate {
  display: flex;
  flex-direction: column;
}

.formDates {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
